<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MakeHexNum.My.MySettings.dbregConn" connectionString="Dsn=MYSQL_REG;database=dbreg;description=VPN Connection using Hamachi(LogMeIn);option=0;port=3308;server=25.79.108.33;uid=fooUser"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>